body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90afc5;

    height: 100px;
    width: 100%;
}

.barra-titulo{
    align-items: center;
    display: flex;
    padding: 1%;

}
.logo{
    padding: 3%;
    width: 40px; 
    height: 40px; 

}
.barra-botones{
    align-items: center;
    padding: 2%;
    display: flex;


}

.btn-1{
    background-color: #ffffff; 
    

    padding: 10px 50px; 
    border-radius: 5px ;
    cursor: pointer; 
    border: 1px solid #000;
}

.btn-2{
    background-color: #0077ff; 
    color: #ffffff;
    padding: 10px 50px; 
    border-radius: 5px ;
    cursor: pointer; 
    margin-left: 10px;
    border: 1px solid #000;
}

/*--------------------------------*/

.g1{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56); 

}

.g1-imagen,
.g1-texto {
  width: 55%; 

  border: 1px solid #ccc;
  padding: 20px;
}

.g1-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #00000075;
    background-color: #336b877c;
}

.g1-imagen img{
    max-width: 400px;


}

.g1-texto{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00000077;
    justify-content: center;
    background-color: #336b87c2;
    color: #ffffff;
}
.tx-titulo{
    display: flex;
} 
.btn-3{
    display: flex;
    justify-content: flex-start;
    max-width: 100px;
    background-color: #0077ff; 
    color: #ffffff;
    border-radius: 5px ;
    cursor: pointer; 
}

/*--------------------------------*/

.g2{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56); 
}

.g2-imagen,
.g2-texto {
  width: 55%; 
  background-color: #2a313284;

  padding: 20px;
  color: #ffffff;
   
}

.g2-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #0000007c;
}

.g2-texto{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0000007e;
    justify-content: center;
}
.g2-imagen img{
    max-width: 300px;
    
}

/*-----------------------------------------------*/

.tarjetas-flotantes{
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
    
}


.t1 {
    width: 300px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 20px; 
    margin: 0 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56); 

}

.t1-titulo {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.t1-titulo img {
    max-width: 50px; 
    border-radius: 50%;
}

/*----------------------------------*/

.box h1{
    display: flex;
    justify-content: center;
    color: #826e57;
    
    
}

.tarjeta-propia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoritos{
    width: 240px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 20px; 
    margin: 0 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.56); 
}


/*----------------------------------*/
.piedepagina{
    display: flex;
    justify-content: space-between;
    background-color: #3b36367e;
    margin-top: 50px;
    padding-top: 50px;
}


.redessociales img{
    padding: 5px;
    width: 20px;
}

h4{
    display: flex;
    justify-content: center;
    background-color: #3b36367e;
    margin: 0;
}

/*-----------*/


@media screen and (max-width: 768px) {

    .g1{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .g2, .tarjetas-flotantes, .tarjeta-propia{
        flex-direction: column;
        
    }

    .g1-imagen, .g1-texto, .g2-imagen, .g2-texto{
    width: auto; 
    align-items: center;
    }

    .t1{
        margin: 30px;
        padding-inline: 15%;
    }

    .favoritos{
        margin: 10px;
    }

    .piedepagina{
        flex-direction: column;
        align-items: center;
    }
    h4{
        padding: 25px;
    }
    


    



}